@import "styles/variables"

$pushbuttons_control_size: auto
$pushbuttons_label_size: $simple-width

.pushbuttons
  height: 30px
  vertical-align: top
  width: $pushbuttons_control_size

.pushbuttons__label
  vertical-align: baseline
  width: $pushbuttons_label_size

.pushbuttons__label--disabled
  color: $color-disabled

.pushbuttons__options
  display: inline-block
