@import "styles/base"

.param-container
  margin: 0 0 0.5em

.param
  display: inline-block

/*.param-id {
 *  width: 30px;
 *  text-align: right;
 *}

.param-title
  width: 200px
  font-weight: bold
  color: lightgray

.param-value
  color: lightgreen
  display: inline-block
  padding: 0.2em 0.6em

.param-value-list
  color: lightgreen
  margin: 0
  padding: 0
  display: inline-block
  list-style-type: none

.param-value-list__item
  display: inline-block
  padding: 0.2em 0.6em

.param-value-list__item--selected
  background: darkgreen
  border-radius: 0.2em

.param-value-list__link
  color: inherit
  text-decoration: none

.param
  .raw
    display: none
  &:hover .raw
    opacity: 0.5
    display: inline-block
    margin-left: 2em


$knob_size: 70px
$knob_control_size: 30px
$knob_inset: 7px
$knob_color_bg: #333
$knob_color_stop: #999
$knob_color_indicator: #fff

.knob
  width: $knob_size
  display: block
  display: inline-block
  font-size: 10px
  font-weight: 300

.knob__title
  text-align: center
  line-height: 15px
  padding: 5px
  text-transform: uppercase
  text-overflow: ellipsis

.knob__value
  text-align: center
  line-height: 20px
  padding: 0 5px
  text-transform: uppercase

.knob__container
  width: $knob_control_size + $knob_inset + $knob_inset
  height: $knob_control_size + $knob_inset + $knob_inset
  position: relative
  background: transparent
  margin: 0 auto

.knob__control
  width: $knob_control_size
  height: $knob_control_size
  background: $knob_color_bg
  border-radius: $knob_control_size
  transform: rotate(0deg)
  position: absolute
  top: $knob_inset
  left: $knob_inset

.knob__indicator
  border-radius: $knob_inset
  width: $knob_inset / 2.5
  height: $knob_inset
  background: $knob_color_indicator
  position: absolute
  left: $knob_control_size / 2 - ($knob_inset / 5)
  top: $knob_inset / 2

.knob__stopmin
  border-radius: $knob_inset
  width: $knob_inset / 2
  height: $knob_inset / 2
  position: absolute
  top: $knob_control_size + $knob_inset / 2
  left: $knob_inset
  background: $knob_color_stop

.knob__stopmax
  border-radius: $knob_inset
  width: $knob_inset / 2
  height: $knob_inset / 2
  position: absolute
  top: $knob_control_size + $knob_inset / 2
  left: $knob_control_size + $knob_inset / 2
  background: $knob_color_stop

.knob__stopcenter
  border-radius: $knob_inset
  width: $knob_inset / 2
  height: $knob_inset / 2
  position: absolute
  top: $knob_inset / 4
  left: ($knob_control_size / 2) + $knob_inset - ($knob_inset / 4)
  background: $knob_color_stop



.simple
  width: $simple-width
  // text-align: right
  padding: $control-gutter
  cursor: pointer

.simple:hover
  background-color: $color-secondary

.simple__name
  color: #ccc

.simple__value
  margin-top: $control-gutter / 2
  font-weight: bold
  color: $color-primary

.simple:hover .simple__value
  background-color: rgb(39, 43, 49)
